.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s opacity;
}
.icon.icon-arrow {
  width: 14.38px;
  height: 5.31px;
  background-image: url("../img/icons/arrow-right.svg");
}
.icon.icon-arrow-black {
  width: 14.38px;
  height: 5.31px;
  background-image: url("../img/icons/arrow-right-black.svg");
}
.icon.icon-arrow-full-white {
  width: 22.5px;
  height: 13px;
  background-image: url("../img/icons/arrow-white.svg");
}
.icon.icon-arrow-full-black {
  width: 22.5px;
  height: 13px;
  background-image: url("../img/icons/arrow-black.svg");
}
.icon.icon-cart {
  width: 17.01px;
  height: 13.02px;
  background-image: url("../img/icons/cart.svg");
}
.icon.icon-cart-black {
  width: 17.01px;
  height: 13.02px;
  background-image: url("../img/icons/cart-black.svg");
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Thin';
  font-size: 18px!important;
  line-height: 1.2;
  color: #000;
}
a {
  color: #000;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}
a.btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: unset!important;
}
a.btn .icon-arrow-black,
a.btn .icon-cart-black {
  display: inherit;
}
a.btn .icon-arrow,
a.btn .icon-cart {
  display: none;
}
a.btn:hover {
  background-color: #000;
  color: #fff;
}
a.btn:hover .icon-arrow-black,
a.btn:hover .icon-cart-black {
  display: none;
}
a.btn:hover .icon-arrow,
a.btn:hover .icon-cart {
  display: inherit;
}
.title {
  font-family: 'PoiretOne';
}
.title-1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
}
header {
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px -4px 10px 2px #dadada;
}
header .header-logo {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  padding: 19px 10px;
  font-family: PoiretOne;
  text-align: center;
  line-height: 1;
}
header nav a + a {
  margin-left: 20px;
}
section {
  padding: 50px 0;
}
section.first {
  margin-top: 84px;
}
.filters .filter-goods-item {
  line-height: 1;
}
.filters .filter-goods-item .filter-title {
  width: 100%;
  font-size: 12px;
}
