@import "icons.less";
@import "colours.less";

* {
  box-sizing: border-box;
}
html, body {
  margin:0;
  padding:0;
  font-family: 'Montserrat-Thin';
  font-size: 18px!important;
  line-height: 1.2;
  color: @baseTextColor;
}
a {
  color: @baseTextColor;

  &:hover {
    color: #000000;
    text-decoration: underline;
  }
  &.btn {
    background-color: @bannerTextColor;
    color: @baseTextColor;
    border: 1px solid @baseTextColor;
    border-radius: unset!important;

    .icon-arrow-black, .icon-cart-black {
      display: inherit;
    }
    .icon-arrow, .icon-cart {
      display: none;
    }

    &:hover {
      background-color: @baseTextColor;
      color: @bannerTextColor;

      .icon-arrow-black, .icon-cart-black {
        display: none;
      }
      .icon-arrow, .icon-cart {
        display: inherit;
      }
    }
  }
}
.title {
  font-family: 'PoiretOne';
}
.title-1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
}

header {
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px -4px 10px 2px #dadada;

  .header-logo{
    background-color: @baseTextColor;
    color: @bannerTextColor;
    border-radius: 50%;
    padding: 19px 10px;
    font-family: PoiretOne;
    text-align: center;
    line-height: 1;
  }
  nav {
    a + a {
      margin-left: 20px;
    }
  }
}

section {
  padding: 50px 0;

  &.first{
    margin-top: 84px;
  }
}
.filters{
  .filter-goods-item{
    line-height: 1;

    .filter-title{
      width: 100%;
      font-size: 12px;
    }
  }
}


@import "mobile.less";
@import "tablet.less";
