@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
